* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero .heighter {
  height: 50px;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 15px;
}

.container-xl {
  max-width: 1300px;
  margin: auto;
  padding: 15px;
}

.header {
  font-weight: 600;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container img {
  width: 85px;
}
.header .container a {
  color: #000;
}
.header .container ul {
  display: flex;
}
.header .container ul li {
  margin: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.hero {
  background-image: url("../img/bg-hero-home.jpg");
  height: 390px;
  background-size: cover;
  background-position: top;
  position: relative;
}
.hero .container img {
  position: absolute;
  bottom: 0;
  left: 280px;
  z-index: 1;
}
.hero .blue-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #0282f9;
}
.hero .blue-bar h2 {
  position: absolute;
  left: 220px;
  bottom: 0px;
  background: #0282f9;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px;
  z-index: 2;
}

.main {
  background: #1c1c1c;
  font-size: 12px;
  font-weight: 600;
}
.main .container {
  padding: 15px;
  text-align: center;
}
.main .container ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  text-align: left;
}
.main .container ul a {
  color: #fff;
}
.main .container .button {
  display: inline-block;
  padding: 10px 50px;
  margin: 10px 0;
  background: #0282f9;
  color: #fff;
  text-transform: uppercase;
}

.merch {
  background: #0282f9;
  font-size: 12px;
  font-weight: 600;
}
.merch .container ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.merch .container ul a {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}
.merch .container ul img {
  height: 40px;
  max-width: 45px;
  margin: 10px;
}

.comic .hero {
  height: 450px;
  position: relative;
}
.comic .hero img {
  position: absolute;
  bottom: 20px;
  left: 280px;
  z-index: 1;
}
.comic .hero .blue-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #0282f9;
  height: 70px;
}

footer {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  color: #929292;
  font-weight: 600;
  position: relative;
}
footer .white-bar {
  position: absolute;
  height: 100px;
  width: 100%;
  background: #fff;
  top: 0;
}
footer .container-xl {
  display: flex;
  justify-content: space-between;
}
footer .container-xl .left-side {
  width: 50%;
  padding-top: 100px;
}
footer .container-xl .footer-menu {
  display: flex;
  flex-wrap: wrap;
}
footer .container-xl .footer-menu h2 {
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
}
footer .container-xl .footer-menu .dc-db,
footer .container-xl .footer-menu .dc-network {
  padding-right: 40px;
}
footer .container-xl .footer-menu li {
  text-transform: capitalize;
  padding: 2px 0;
}
footer .container-xl .copy {
  padding: 30px 0;
}
footer .container-xl .copy a {
  color: #0282f9;
}
footer .container-xl .footer-logo img {
  width: 620px;
}
footer .footer-nav {
  padding: 10px;
  text-transform: uppercase;
  background: #303030;
}
footer .footer-nav .button {
  padding: 15px;
  border: 2px solid #0282f9;
  color: #fff;
}
footer .footer-nav .social {
  display: flex;
  align-items: center;
}
footer .footer-nav .social h2 {
  color: #0282f9;
}
footer .footer-nav .social ul {
  display: flex;
  padding: 10px;
}
footer .footer-nav .social ul li {
  margin: 10px;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #929292;
}
footer .footer-nav .social ul li i {
  color: #303030;
}